@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

*,
button,
input {
  font-family: "Roboto Condensed", sans-serif;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
}

.hero {
  margin-top: 2em !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px !important;
  border-radius: 10px;
}

.image {
  width: 250px !important;
  height: auto;
  margin-right: 4rem !important;
}

.user-container {
  margin: 6rem !important;
}

.profile-btn {
  margin-top: 1rem;
}

.info-name {
  /* padding-left: 0rem !important; */
  font-weight: 600 !important;
}

.tag {
  margin-left: 1rem;
}

.repo {
  margin: 1.2rem !important;
}

.repo-btn {
  margin: 1rem 0 !important;
}

/* media queries */

@media (max-width: 500px) {
  :root {
    font-size: 50%;
  }

  .hero {
    width: 350px !important;
    height: auto !important;
  }

  .repositories {
    margin-top: 5rem !important;
  }

  .basic-info {
    margin-top: 24rem !important;
    margin-left: 0.4rem !important;
    font-size: 100% !important;
  }
}
