@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

*,
button,
input {
  font-family: "Roboto Condensed", sans-serif;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
}

.hero {
  margin-top: 2em !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px !important;
  border-radius: 10px;
}

.image {
  width: 250px !important;
  height: auto;
  margin-right: 4rem !important;
}

.user-container {
  margin: 6rem !important;
}

.profile-btn {
  margin-top: 1rem;
}

.info-name {
  padding-left: 1rem !important;
  font-weight: 600 !important;
}

.info-username {
  padding-left: 1.75rem !important;
}

.tag {
  margin: 0.3rem;
}
